*
	box-sizing: border-box
body
	font-family: Noto Sans, sans-serif
.container
	margin: auto
	max-width: 1180px

h1,
h2,
h3
	margin: 0
p
	margin: 0

img
	width: 100%

button
	cursor: pointer

.link
	font-family: Noto Sans
	font-size: 14px
	line-height: 19px
	text-align: right
	color: #198C36

	text-decoration: none

	&--light
		font-size: 16px
		line-height: 22px
		text-decoration: none
		color: #FBFAF7

.title
	font-family: Recoleta
	font-style: normal
	font-weight: 600
	font-size: 48px
	line-height: 65px
	color: #163A24
	&--light
		color: #FBFAF7

.text
	font-family: Noto Sans
	font-style: normal
	font-weight: normal
	font-size: 18px
	line-height: 27px
	color: #163A24
	&--light
		color: #FBFAF7
