.header
	padding: 20px 0
	background: $green-bg
	&__container
		display: flex
		justify-content: space-between
		align-items: center

	&__logo
		+box(153px, 58px)
	&__holder
		display: flex
		align-items: center
	&__login
		margin-right: 24px
	&__phone
		margin-right: 24px
	&__get-started-button
		padding: 15px 25px
		margin-right: 10px
		border-radius: 160px
		background: $green-light-bg
